*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
padding: 0;
margin:0;
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
}

#question-card {
display: none;
align-items: center;
text-align: center;
border: none;
}

header h2{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 60px;
}

#question {
    font-size: 20px;
}

#start-card {
text-align: center;
align-items: center;
font-size: 15px;
padding: 100px;
border: none;

}

#start {
font-size: 16px;
margin-bottom: 20px;
background-color: darkblue;
color: white;
border-radius: 5px;
width: 100px;
border:none
}

#start:hover {
    background-color: violet;
    color: white;
    border: none;
}

#answer-buttons {
    margin-top: 40px;
}

.btn {
display: flex;
flex-direction: column;
margin-top: 10px;
margin-bottom:10px;
color: white;
background-color: darkblue;
justify-content: space-around;
border: none;
border-radius: 5px
}

.btn:hover {
    background-color: violet;
    color: white;
    border: none
}

#final-card {
    padding: 100px;
    display: none;
}

form {
    margin-top: 70px;
}

.initials-item {
flex-wrap: wrap;
flex-direction: column;
font-size: 20px;

} 

.submit-btn {
margin-top: 10px;
margin-bottom:10px;
margin-left: 10px;
color: white;
background-color: darkblue;
border: none;
border-radius: 5px
}

.submit-btn:hover {
    background-color: violet;
    color: white;
    border: none
}

#score-btn, #back {
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    color: white;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
}

#score-btn:hover, #back:hover {
    background-color: violet;
    color: white;
    border: none
}

/* #score-card {
    display: none;
} */

